.headerBox {
    font-family: var(--playfair-font), "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    font-style: italic;
    width: 100vw;
    margin: auto 50px;
  }
  
  .header {
    font-size: 5rem;
    font-weight: 500;
  }
  
  .underheader {
  }
  
  .button {
    border: none;
    border-radius: 20px;
    color: rgb(31, 12, 66);
    font-family: var(--hanken-font), Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 50px;
    padding: 10px;
  }

  .button:hover {
    transform: scale(1.2);
  }
  