/** 
  Breakpoints:
  ------------
  sm: min-width: 640px; //small device
  md: min-width: 768px; // medium device
  lg: min-width: 1024px; // large device
  xl: min-width: 1280px; // extra large device
  2xl: min-width: 1536px; // 2 x extra large device
**/

.wrapper {
  display: grid;
  place-items: center;
  align-content: center;
  gap: 50px;
  margin-top: 5%;
}

.pic {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 90%;
  height: auto;
}

.bigCard {
  font-size: 1.75rem;
  width: 90%;
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.return {
  font-size: 1.25rem;
  max-width: fit-content;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50px;
  color: var(--text-color);
  filter: blur(0);
}

.ranking {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.count {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .bigCard {
    max-width: fit-content;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    margin: 0;
    position: relative;
  }
  .pic {
    border-radius: 0 0 10px 0;
    border: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 50%;
  }

  .bigCard {
    margin: 0;
    position: fixed;
    top: 10%;
  }
}
