.title {
  margin: auto 5%;
  text-align: center;
  font-size: 2rem;
}

.cardBox {
  display: grid;
  grid-template: auto / 1fr;
  place-items: center;
  align-content: center;
  margin: 1% 0;
}

@media (min-width: 700px) {
  .cardBox {
    grid-template: auto / repeat(2, 1fr);
    margin: 1% 3%;
  }
}

@media (min-width: 1000px) {
  .title {
    text-align: left;
  }
  .cardBox {
    grid-template: auto / repeat(3, 1fr);
  }
}

@media (min-width: 1324px) {
  .cardBox {
    grid-template: auto / repeat(4, 1fr);
  }
}

@media (min-width: 1660px) {
  .cardBox {
    grid-template: auto / repeat(5, 1fr);
  }
}
